---
import Layout from '../layouts/Layout.astro';
import data from '../../public/data.json';
import '../../assets/scss/astro-ecommerce.scss';
import CardCategory from '../components/products/cardCategory';
import ProductFeature from '../components/products/productFeature';
import Navbar from '../components/navbar';
import Footer from '../components/footer';
import TestimonialsFade from '../components/promo/testimonialsFade';
import PromoSectionLarge from '../components/promo/promoSectionLarge';
---

<Layout title="Landing Page">
	<main>
    <Navbar />
    <PromoSectionLarge 
      title={"Nouvelle Collection"}
      full_description="Rouge à Lèvres Naturels - Éclat et Élégance au Naturel - Sublimez Votre Sourire Chaque Jour"
      pageHeaderBgImg={"../images/bg2.jpg"}
      pageHeaderMinVh="90vh"
    />
    <div class="container my-5">
      <div class="d-block text-center mb-5">
        <h3>Nos sélections coup de foudre</h3>
      </div>
      <div class="row mb-5">
        {data.categories.slice(0, 4).map((category, index) => 
          <div class="col-md-6 col-lg-3">
            <CardCategory
              thumb_src = {category.thumb_src}
              collection = {category.collection}
              title = {category.title}
              product_id = {index}
            />
          </div>
        )}
      </div>
{/* 
    <PromoSectionLarge 
      title="Basic Starter Pack"
      full_description={data.products[0].full_description} 
      pageHeaderBgImg={"../images/bg2.jpg"} 
      pageHeaderMinVh="50vh"
      pageHeaderRadius="1rem"
    />
    */}
    <div class="my-5">
      <ProductFeature
        title="Zoom sur nos ingredients"
        images={data.products[2].images}
        full_description=""
        featuresDetails={data.products[0].featuresDetails}
      />
    </div>

    <div class="mt-5 mb-10">
      <TestimonialsFade 
        pageHeaderBgImg={"https://images.unsplash.com/photo-1519642918688-7e43b19245d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2676&q=80"} 
        pageHeaderMinVh="50vh"
      />
    </div>
    
    <Footer />

    </div>
  </main>

</Layout>